body{
    margin: 0;
    background: linear-gradient(to left top, yellow,lightblue,yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}
.container{
    background: rgba(255, 255, 255, .3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
}
.heading{
    text-align: center;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
}
.input{
    padding: 10px;
    width: 70%;
    background: rgba(255, 255, 255, .3);
    border: rgba(255, 255, 255, .5);
    font-size: 18px;
    border-radius: 10px;
    color: darkgreen;
    outline: none;
}
.error{
    color: red;
}